@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf8f5;
  --foreground: #1a1a1a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
